<h4>Player 1 chose <%= @player1 %>.</h4>
<h4>Player 2 chose <%= @player2 %>.</h4>
<h2><%= @result %></h2>
<!-- <action='rps' button type="submit" class = "btn btn-success">
  Play Again?</button> -->
